.Form {
    width: 50%;
    margin: auto;
    font-family: 'Mon';
}

.InputStyle1 input{ 
    font-size: 26px;
    width: 50%;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.InputGroup {
    position: relative;
    margin-bottom: 32px;
    padding: 9px 0;
    color: #666;
    font-size: 16px;
    font-weight: 800;
    justify-content: space-around;
    display: flex;
}

.ButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.ButtonGreen{
    background: #57b846;
}

.ButtonYellow{
    background: #ff9500 ;
}

.Button{
    margin: 0;
    border: none;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    color: #fff;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 14px;
    font-weight: 700;
}


