.InputGroup {
    position: relative;
    margin-bottom: 32px;
    padding: 9px 0;   
    font-size: 16px;
    font-weight: 800;
    justify-content: space-around;
    display: flex;
}

.InputGroup input {
    font-size: inherit;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    width: 100%;
}

.InputStyle1 input{ 
    font-size: 26px;
    width: 50%;
}

.Card{
    background-color: #24252A;
    border-radius: 5px;
    color: #edf0f1;
    padding: 15px;
    margin: 20px 0;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}

.Header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.Label{
    display: block;
}

.Answers{
    display: flex;
    justify-content: space-between;
}