.Card {
    width: 10vh;
    height: 10vh;
    border: 2px solid #eee;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.Card a{
    margin: auto;
    text-decoration: none;
    color: #24252A;
}

.Container{
    font-family: "Montserrat", sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #edf0f1;
}

.Container h6{
    margin: 0;
}

.CardContainer{
    display: flex;
    flex-direction: row;
}